{% extends 'playground/base.html' %} 

{% block content %} 

<!--justify-content-between align-items-start-->
<div class ="grid-cont container-fluid position-absolute top-50 start-50 translate-middle px-5">
    <div class="row">
        <div class="grid-item col-lg-4"> TEST1 </div>
        <div class="grid-item col-lg-4"> TEST2 </div>
        <div class="grid-item col-lg-4"> TEST3 </div>
    </div>

    <div class="row">
        <div class="grid-item col-lg-8"> TEST4 </div>
        <div class="grid-item col-lg-4"> TEST5 </div>
    </div>

    <div class="row">
        <div class="grid-item col-lg-12"> TEST6 </div>
    </div>
</div>
{% endblock %}

<!--
    <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>  
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>  
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>  
  </div>
-->