/* line 4, playground/static/playground/css/styles.sass */
html, body {
  height: 100%; }

/* line 7, playground/static/playground/css/styles.sass */
body {
  background-color: #000;
  background-size: cover; }

/* line 11, playground/static/playground/css/styles.sass */
.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none; }
  /* line 21, playground/static/playground/css/styles.sass */
  .firefly::before, .firefly::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw; }
  /* line 30, playground/static/playground/css/styles.sass */
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite; }
  /* line 35, playground/static/playground/css/styles.sass */
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite; }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(1) {
  animation-name: move1; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(1)::before {
    animation-duration: 11s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(1)::after {
    animation-duration: 11s, 10155ms;
    animation-delay: 0ms, 4045ms; }

@keyframes move1 {
  0% {
    transform: translateX(14vw) translateY(3vh) scale(0.91); }
  4.16667% {
    transform: translateX(15vw) translateY(-36vh) scale(0.85); }
  8.33333% {
    transform: translateX(-47vw) translateY(-30vh) scale(0.47); }
  12.5% {
    transform: translateX(39vw) translateY(31vh) scale(0.98); }
  16.66667% {
    transform: translateX(40vw) translateY(-45vh) scale(0.76); }
  20.83333% {
    transform: translateX(-48vw) translateY(18vh) scale(0.47); }
  25% {
    transform: translateX(37vw) translateY(-25vh) scale(0.84); }
  29.16667% {
    transform: translateX(1vw) translateY(46vh) scale(0.39); }
  33.33333% {
    transform: translateX(20vw) translateY(-42vh) scale(0.51); }
  37.5% {
    transform: translateX(34vw) translateY(43vh) scale(0.34); }
  41.66667% {
    transform: translateX(-49vw) translateY(-35vh) scale(0.57); }
  45.83333% {
    transform: translateX(-16vw) translateY(9vh) scale(0.29); }
  50% {
    transform: translateX(-25vw) translateY(-21vh) scale(0.56); }
  54.16667% {
    transform: translateX(48vw) translateY(-35vh) scale(0.6); }
  58.33333% {
    transform: translateX(-3vw) translateY(-25vh) scale(0.7); }
  62.5% {
    transform: translateX(-38vw) translateY(30vh) scale(0.47); }
  66.66667% {
    transform: translateX(-12vw) translateY(37vh) scale(0.32); }
  70.83333% {
    transform: translateX(-31vw) translateY(-15vh) scale(0.59); }
  75% {
    transform: translateX(-29vw) translateY(-42vh) scale(0.57); }
  79.16667% {
    transform: translateX(48vw) translateY(6vh) scale(0.56); }
  83.33333% {
    transform: translateX(26vw) translateY(13vh) scale(0.74); }
  87.5% {
    transform: translateX(42vw) translateY(-31vh) scale(0.85); }
  91.66667% {
    transform: translateX(44vw) translateY(20vh) scale(0.66); }
  95.83333% {
    transform: translateX(34vw) translateY(27vh) scale(0.72); }
  100% {
    transform: translateX(0vw) translateY(-37vh) scale(0.28); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(2) {
  animation-name: move2; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(2)::before {
    animation-duration: 15s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(2)::after {
    animation-duration: 15s, 5766ms;
    animation-delay: 0ms, 2359ms; }

@keyframes move2 {
  0% {
    transform: translateX(11vw) translateY(38vh) scale(0.47); }
  4.16667% {
    transform: translateX(30vw) translateY(-32vh) scale(0.43); }
  8.33333% {
    transform: translateX(-7vw) translateY(-41vh) scale(0.74); }
  12.5% {
    transform: translateX(47vw) translateY(33vh) scale(0.47); }
  16.66667% {
    transform: translateX(3vw) translateY(-27vh) scale(0.34); }
  20.83333% {
    transform: translateX(19vw) translateY(19vh) scale(0.79); }
  25% {
    transform: translateX(-43vw) translateY(17vh) scale(0.74); }
  29.16667% {
    transform: translateX(-44vw) translateY(48vh) scale(0.49); }
  33.33333% {
    transform: translateX(-3vw) translateY(25vh) scale(0.4); }
  37.5% {
    transform: translateX(-12vw) translateY(0vh) scale(0.41); }
  41.66667% {
    transform: translateX(12vw) translateY(-15vh) scale(0.47); }
  45.83333% {
    transform: translateX(-41vw) translateY(33vh) scale(0.74); }
  50% {
    transform: translateX(47vw) translateY(-10vh) scale(0.94); }
  54.16667% {
    transform: translateX(12vw) translateY(34vh) scale(0.89); }
  58.33333% {
    transform: translateX(36vw) translateY(-45vh) scale(0.86); }
  62.5% {
    transform: translateX(-44vw) translateY(-6vh) scale(0.73); }
  66.66667% {
    transform: translateX(4vw) translateY(-14vh) scale(0.66); }
  70.83333% {
    transform: translateX(-37vw) translateY(-18vh) scale(0.59); }
  75% {
    transform: translateX(-25vw) translateY(-31vh) scale(0.39); }
  79.16667% {
    transform: translateX(-30vw) translateY(49vh) scale(0.75); }
  83.33333% {
    transform: translateX(37vw) translateY(7vh) scale(0.41); }
  87.5% {
    transform: translateX(-43vw) translateY(-10vh) scale(0.58); }
  91.66667% {
    transform: translateX(24vw) translateY(28vh) scale(0.8); }
  95.83333% {
    transform: translateX(5vw) translateY(-41vh) scale(0.59); }
  100% {
    transform: translateX(31vw) translateY(22vh) scale(0.93); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(3) {
  animation-name: move3; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(3)::before {
    animation-duration: 10s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(3)::after {
    animation-duration: 10s, 5591ms;
    animation-delay: 0ms, 1324ms; }

@keyframes move3 {
  0% {
    transform: translateX(-35vw) translateY(16vh) scale(0.56); }
  5.26316% {
    transform: translateX(38vw) translateY(-47vh) scale(0.38); }
  10.52632% {
    transform: translateX(-11vw) translateY(-24vh) scale(0.63); }
  15.78947% {
    transform: translateX(11vw) translateY(-46vh) scale(0.63); }
  21.05263% {
    transform: translateX(-23vw) translateY(10vh) scale(0.34); }
  26.31579% {
    transform: translateX(-45vw) translateY(-13vh) scale(0.36); }
  31.57895% {
    transform: translateX(48vw) translateY(10vh) scale(0.58); }
  36.84211% {
    transform: translateX(29vw) translateY(-47vh) scale(0.98); }
  42.10526% {
    transform: translateX(-38vw) translateY(-29vh) scale(1); }
  47.36842% {
    transform: translateX(41vw) translateY(10vh) scale(0.63); }
  52.63158% {
    transform: translateX(-38vw) translateY(38vh) scale(0.72); }
  57.89474% {
    transform: translateX(21vw) translateY(-16vh) scale(0.9); }
  63.15789% {
    transform: translateX(-14vw) translateY(-19vh) scale(0.6); }
  68.42105% {
    transform: translateX(32vw) translateY(-49vh) scale(0.47); }
  73.68421% {
    transform: translateX(25vw) translateY(31vh) scale(0.54); }
  78.94737% {
    transform: translateX(2vw) translateY(-26vh) scale(0.69); }
  84.21053% {
    transform: translateX(-1vw) translateY(31vh) scale(0.56); }
  89.47368% {
    transform: translateX(44vw) translateY(-40vh) scale(0.47); }
  94.73684% {
    transform: translateX(17vw) translateY(-20vh) scale(0.67); }
  100% {
    transform: translateX(-38vw) translateY(44vh) scale(0.48); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(4) {
  animation-name: move4; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(4)::before {
    animation-duration: 15s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(4)::after {
    animation-duration: 15s, 8157ms;
    animation-delay: 0ms, 4629ms; }

@keyframes move4 {
  0% {
    transform: translateX(4vw) translateY(-13vh) scale(0.46); }
  3.57143% {
    transform: translateX(49vw) translateY(-46vh) scale(0.85); }
  7.14286% {
    transform: translateX(-3vw) translateY(47vh) scale(0.27); }
  10.71429% {
    transform: translateX(20vw) translateY(-19vh) scale(0.38); }
  14.28571% {
    transform: translateX(23vw) translateY(48vh) scale(0.38); }
  17.85714% {
    transform: translateX(-42vw) translateY(-24vh) scale(0.66); }
  21.42857% {
    transform: translateX(-8vw) translateY(-2vh) scale(0.76); }
  25% {
    transform: translateX(-2vw) translateY(-18vh) scale(0.37); }
  28.57143% {
    transform: translateX(33vw) translateY(15vh) scale(0.39); }
  32.14286% {
    transform: translateX(34vw) translateY(7vh) scale(0.51); }
  35.71429% {
    transform: translateX(-2vw) translateY(32vh) scale(0.28); }
  39.28571% {
    transform: translateX(-23vw) translateY(20vh) scale(0.92); }
  42.85714% {
    transform: translateX(48vw) translateY(-39vh) scale(0.7); }
  46.42857% {
    transform: translateX(43vw) translateY(-25vh) scale(0.47); }
  50% {
    transform: translateX(16vw) translateY(-22vh) scale(0.4); }
  53.57143% {
    transform: translateX(-30vw) translateY(-41vh) scale(0.64); }
  57.14286% {
    transform: translateX(-21vw) translateY(-45vh) scale(0.79); }
  60.71429% {
    transform: translateX(-42vw) translateY(25vh) scale(0.57); }
  64.28571% {
    transform: translateX(11vw) translateY(-30vh) scale(0.33); }
  67.85714% {
    transform: translateX(-45vw) translateY(2vh) scale(0.81); }
  71.42857% {
    transform: translateX(1vw) translateY(44vh) scale(0.51); }
  75% {
    transform: translateX(7vw) translateY(40vh) scale(0.74); }
  78.57143% {
    transform: translateX(-34vw) translateY(-22vh) scale(0.67); }
  82.14286% {
    transform: translateX(24vw) translateY(-13vh) scale(0.27); }
  85.71429% {
    transform: translateX(-10vw) translateY(13vh) scale(0.69); }
  89.28571% {
    transform: translateX(1vw) translateY(-10vh) scale(0.49); }
  92.85714% {
    transform: translateX(-25vw) translateY(-14vh) scale(0.83); }
  96.42857% {
    transform: translateX(-42vw) translateY(8vh) scale(0.73); }
  100% {
    transform: translateX(20vw) translateY(50vh) scale(0.73); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(5) {
  animation-name: move5; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(5)::before {
    animation-duration: 10s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(5)::after {
    animation-duration: 10s, 9881ms;
    animation-delay: 0ms, 4119ms; }

@keyframes move5 {
  0% {
    transform: translateX(43vw) translateY(28vh) scale(0.57); }
  5.26316% {
    transform: translateX(-39vw) translateY(-10vh) scale(0.62); }
  10.52632% {
    transform: translateX(-12vw) translateY(-20vh) scale(0.96); }
  15.78947% {
    transform: translateX(-22vw) translateY(-9vh) scale(0.54); }
  21.05263% {
    transform: translateX(22vw) translateY(9vh) scale(0.32); }
  26.31579% {
    transform: translateX(-23vw) translateY(30vh) scale(0.59); }
  31.57895% {
    transform: translateX(7vw) translateY(-34vh) scale(0.94); }
  36.84211% {
    transform: translateX(-26vw) translateY(-38vh) scale(0.66); }
  42.10526% {
    transform: translateX(43vw) translateY(-44vh) scale(0.65); }
  47.36842% {
    transform: translateX(-35vw) translateY(48vh) scale(0.57); }
  52.63158% {
    transform: translateX(23vw) translateY(6vh) scale(0.66); }
  57.89474% {
    transform: translateX(24vw) translateY(26vh) scale(0.87); }
  63.15789% {
    transform: translateX(11vw) translateY(43vh) scale(0.92); }
  68.42105% {
    transform: translateX(-7vw) translateY(32vh) scale(0.27); }
  73.68421% {
    transform: translateX(-10vw) translateY(-32vh) scale(0.53); }
  78.94737% {
    transform: translateX(-42vw) translateY(-42vh) scale(0.83); }
  84.21053% {
    transform: translateX(2vw) translateY(-21vh) scale(0.84); }
  89.47368% {
    transform: translateX(-21vw) translateY(41vh) scale(0.77); }
  94.73684% {
    transform: translateX(-14vw) translateY(-31vh) scale(0.77); }
  100% {
    transform: translateX(-5vw) translateY(16vh) scale(0.73); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(6) {
  animation-name: move6; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(6)::before {
    animation-duration: 9s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(6)::after {
    animation-duration: 9s, 9828ms;
    animation-delay: 0ms, 8382ms; }

@keyframes move6 {
  0% {
    transform: translateX(-24vw) translateY(-44vh) scale(0.3); }
  5.55556% {
    transform: translateX(-32vw) translateY(-16vh) scale(0.89); }
  11.11111% {
    transform: translateX(-21vw) translateY(-14vh) scale(0.98); }
  16.66667% {
    transform: translateX(-20vw) translateY(-34vh) scale(0.97); }
  22.22222% {
    transform: translateX(-32vw) translateY(22vh) scale(0.87); }
  27.77778% {
    transform: translateX(6vw) translateY(3vh) scale(0.27); }
  33.33333% {
    transform: translateX(23vw) translateY(-22vh) scale(0.27); }
  38.88889% {
    transform: translateX(30vw) translateY(42vh) scale(0.97); }
  44.44444% {
    transform: translateX(-42vw) translateY(-23vh) scale(0.59); }
  50% {
    transform: translateX(-30vw) translateY(19vh) scale(0.26); }
  55.55556% {
    transform: translateX(6vw) translateY(-29vh) scale(0.88); }
  61.11111% {
    transform: translateX(30vw) translateY(31vh) scale(0.67); }
  66.66667% {
    transform: translateX(2vw) translateY(-30vh) scale(0.3); }
  72.22222% {
    transform: translateX(-8vw) translateY(1vh) scale(0.41); }
  77.77778% {
    transform: translateX(21vw) translateY(-2vh) scale(0.92); }
  83.33333% {
    transform: translateX(-2vw) translateY(22vh) scale(0.47); }
  88.88889% {
    transform: translateX(-5vw) translateY(-26vh) scale(1); }
  94.44444% {
    transform: translateX(-46vw) translateY(36vh) scale(0.82); }
  100% {
    transform: translateX(-37vw) translateY(-36vh) scale(0.83); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(7) {
  animation-name: move7; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(7)::before {
    animation-duration: 17s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(7)::after {
    animation-duration: 17s, 9158ms;
    animation-delay: 0ms, 1444ms; }

@keyframes move7 {
  0% {
    transform: translateX(-12vw) translateY(-10vh) scale(0.82); }
  3.84615% {
    transform: translateX(48vw) translateY(40vh) scale(0.45); }
  7.69231% {
    transform: translateX(-8vw) translateY(41vh) scale(0.99); }
  11.53846% {
    transform: translateX(-4vw) translateY(-16vh) scale(0.71); }
  15.38462% {
    transform: translateX(-31vw) translateY(-15vh) scale(0.62); }
  19.23077% {
    transform: translateX(18vw) translateY(18vh) scale(0.9); }
  23.07692% {
    transform: translateX(11vw) translateY(15vh) scale(0.35); }
  26.92308% {
    transform: translateX(17vw) translateY(47vh) scale(0.93); }
  30.76923% {
    transform: translateX(-45vw) translateY(38vh) scale(0.97); }
  34.61538% {
    transform: translateX(47vw) translateY(-44vh) scale(0.75); }
  38.46154% {
    transform: translateX(30vw) translateY(-41vh) scale(0.61); }
  42.30769% {
    transform: translateX(47vw) translateY(35vh) scale(0.46); }
  46.15385% {
    transform: translateX(-17vw) translateY(3vh) scale(0.52); }
  50% {
    transform: translateX(-34vw) translateY(7vh) scale(0.78); }
  53.84615% {
    transform: translateX(-36vw) translateY(44vh) scale(0.6); }
  57.69231% {
    transform: translateX(-22vw) translateY(-31vh) scale(0.94); }
  61.53846% {
    transform: translateX(-27vw) translateY(-32vh) scale(0.52); }
  65.38462% {
    transform: translateX(34vw) translateY(-45vh) scale(0.75); }
  69.23077% {
    transform: translateX(17vw) translateY(2vh) scale(0.98); }
  73.07692% {
    transform: translateX(-44vw) translateY(20vh) scale(0.27); }
  76.92308% {
    transform: translateX(-34vw) translateY(8vh) scale(0.67); }
  80.76923% {
    transform: translateX(9vw) translateY(-6vh) scale(0.41); }
  84.61538% {
    transform: translateX(-34vw) translateY(-5vh) scale(0.52); }
  88.46154% {
    transform: translateX(-44vw) translateY(-27vh) scale(0.75); }
  92.30769% {
    transform: translateX(-29vw) translateY(-13vh) scale(0.91); }
  96.15385% {
    transform: translateX(9vw) translateY(-14vh) scale(0.72); }
  100% {
    transform: translateX(-24vw) translateY(1vh) scale(0.37); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(8) {
  animation-name: move8; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(8)::before {
    animation-duration: 9s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(8)::after {
    animation-duration: 9s, 8821ms;
    animation-delay: 0ms, 719ms; }

@keyframes move8 {
  0% {
    transform: translateX(-29vw) translateY(3vh) scale(0.85); }
  4.34783% {
    transform: translateX(44vw) translateY(28vh) scale(0.69); }
  8.69565% {
    transform: translateX(28vw) translateY(49vh) scale(0.4); }
  13.04348% {
    transform: translateX(-43vw) translateY(-26vh) scale(0.58); }
  17.3913% {
    transform: translateX(-2vw) translateY(39vh) scale(0.99); }
  21.73913% {
    transform: translateX(-31vw) translateY(49vh) scale(0.41); }
  26.08696% {
    transform: translateX(41vw) translateY(-20vh) scale(0.72); }
  30.43478% {
    transform: translateX(-6vw) translateY(6vh) scale(0.85); }
  34.78261% {
    transform: translateX(16vw) translateY(-24vh) scale(0.35); }
  39.13043% {
    transform: translateX(-47vw) translateY(-33vh) scale(0.27); }
  43.47826% {
    transform: translateX(-40vw) translateY(-41vh) scale(0.98); }
  47.82609% {
    transform: translateX(33vw) translateY(-9vh) scale(0.78); }
  52.17391% {
    transform: translateX(-3vw) translateY(-27vh) scale(0.27); }
  56.52174% {
    transform: translateX(45vw) translateY(-6vh) scale(0.97); }
  60.86957% {
    transform: translateX(4vw) translateY(-7vh) scale(0.56); }
  65.21739% {
    transform: translateX(-37vw) translateY(-7vh) scale(0.36); }
  69.56522% {
    transform: translateX(-31vw) translateY(-15vh) scale(1); }
  73.91304% {
    transform: translateX(48vw) translateY(25vh) scale(0.56); }
  78.26087% {
    transform: translateX(-9vw) translateY(-28vh) scale(0.76); }
  82.6087% {
    transform: translateX(6vw) translateY(-34vh) scale(0.54); }
  86.95652% {
    transform: translateX(18vw) translateY(24vh) scale(0.92); }
  91.30435% {
    transform: translateX(-19vw) translateY(-19vh) scale(0.53); }
  95.65217% {
    transform: translateX(30vw) translateY(-3vh) scale(0.37); }
  100% {
    transform: translateX(10vw) translateY(-44vh) scale(0.3); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(9) {
  animation-name: move9; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(9)::before {
    animation-duration: 9s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(9)::after {
    animation-duration: 9s, 10298ms;
    animation-delay: 0ms, 5659ms; }

@keyframes move9 {
  0% {
    transform: translateX(10vw) translateY(-25vh) scale(0.3); }
  4.54545% {
    transform: translateX(26vw) translateY(-46vh) scale(0.75); }
  9.09091% {
    transform: translateX(-37vw) translateY(21vh) scale(0.42); }
  13.63636% {
    transform: translateX(25vw) translateY(-22vh) scale(0.37); }
  18.18182% {
    transform: translateX(-35vw) translateY(34vh) scale(0.54); }
  22.72727% {
    transform: translateX(22vw) translateY(-17vh) scale(0.36); }
  27.27273% {
    transform: translateX(19vw) translateY(-49vh) scale(0.32); }
  31.81818% {
    transform: translateX(0vw) translateY(-26vh) scale(0.87); }
  36.36364% {
    transform: translateX(32vw) translateY(-40vh) scale(0.64); }
  40.90909% {
    transform: translateX(45vw) translateY(-37vh) scale(0.93); }
  45.45455% {
    transform: translateX(-1vw) translateY(-36vh) scale(0.46); }
  50% {
    transform: translateX(-34vw) translateY(45vh) scale(0.45); }
  54.54545% {
    transform: translateX(-43vw) translateY(6vh) scale(0.32); }
  59.09091% {
    transform: translateX(20vw) translateY(-39vh) scale(0.68); }
  63.63636% {
    transform: translateX(-11vw) translateY(-2vh) scale(0.55); }
  68.18182% {
    transform: translateX(-12vw) translateY(-4vh) scale(0.49); }
  72.72727% {
    transform: translateX(6vw) translateY(-8vh) scale(0.98); }
  77.27273% {
    transform: translateX(-38vw) translateY(48vh) scale(0.67); }
  81.81818% {
    transform: translateX(-28vw) translateY(12vh) scale(0.62); }
  86.36364% {
    transform: translateX(9vw) translateY(-40vh) scale(0.75); }
  90.90909% {
    transform: translateX(-49vw) translateY(-30vh) scale(0.42); }
  95.45455% {
    transform: translateX(-40vw) translateY(33vh) scale(0.4); }
  100% {
    transform: translateX(12vw) translateY(16vh) scale(0.68); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(10) {
  animation-name: move10; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(10)::before {
    animation-duration: 18s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(10)::after {
    animation-duration: 18s, 5809ms;
    animation-delay: 0ms, 4785ms; }

@keyframes move10 {
  0% {
    transform: translateX(-31vw) translateY(-26vh) scale(0.58); }
  4% {
    transform: translateX(11vw) translateY(1vh) scale(0.34); }
  8% {
    transform: translateX(-1vw) translateY(-14vh) scale(0.57); }
  12% {
    transform: translateX(-19vw) translateY(-27vh) scale(0.8); }
  16% {
    transform: translateX(-17vw) translateY(22vh) scale(0.38); }
  20% {
    transform: translateX(9vw) translateY(-49vh) scale(0.65); }
  24% {
    transform: translateX(2vw) translateY(29vh) scale(0.45); }
  28% {
    transform: translateX(-24vw) translateY(38vh) scale(0.8); }
  32% {
    transform: translateX(-43vw) translateY(-14vh) scale(0.87); }
  36% {
    transform: translateX(-47vw) translateY(38vh) scale(0.35); }
  40% {
    transform: translateX(-18vw) translateY(19vh) scale(0.99); }
  44% {
    transform: translateX(17vw) translateY(3vh) scale(0.49); }
  48% {
    transform: translateX(-3vw) translateY(-10vh) scale(0.34); }
  52% {
    transform: translateX(-27vw) translateY(-34vh) scale(0.61); }
  56% {
    transform: translateX(-30vw) translateY(-49vh) scale(0.73); }
  60% {
    transform: translateX(-46vw) translateY(26vh) scale(0.33); }
  64% {
    transform: translateX(27vw) translateY(37vh) scale(0.33); }
  68% {
    transform: translateX(-34vw) translateY(-27vh) scale(0.27); }
  72% {
    transform: translateX(37vw) translateY(33vh) scale(0.67); }
  76% {
    transform: translateX(1vw) translateY(16vh) scale(0.93); }
  80% {
    transform: translateX(-27vw) translateY(7vh) scale(0.27); }
  84% {
    transform: translateX(-19vw) translateY(6vh) scale(0.82); }
  88% {
    transform: translateX(45vw) translateY(-42vh) scale(0.71); }
  92% {
    transform: translateX(15vw) translateY(36vh) scale(0.43); }
  96% {
    transform: translateX(-45vw) translateY(8vh) scale(0.33); }
  100% {
    transform: translateX(-17vw) translateY(34vh) scale(0.92); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(11) {
  animation-name: move11; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(11)::before {
    animation-duration: 14s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(11)::after {
    animation-duration: 14s, 8788ms;
    animation-delay: 0ms, 702ms; }

@keyframes move11 {
  0% {
    transform: translateX(42vw) translateY(-25vh) scale(0.52); }
  5.88235% {
    transform: translateX(2vw) translateY(-5vh) scale(0.84); }
  11.76471% {
    transform: translateX(45vw) translateY(-31vh) scale(0.9); }
  17.64706% {
    transform: translateX(42vw) translateY(-14vh) scale(0.96); }
  23.52941% {
    transform: translateX(25vw) translateY(-36vh) scale(0.58); }
  29.41176% {
    transform: translateX(-33vw) translateY(-13vh) scale(0.28); }
  35.29412% {
    transform: translateX(-41vw) translateY(-3vh) scale(0.97); }
  41.17647% {
    transform: translateX(-37vw) translateY(49vh) scale(0.73); }
  47.05882% {
    transform: translateX(-10vw) translateY(1vh) scale(0.81); }
  52.94118% {
    transform: translateX(-44vw) translateY(35vh) scale(0.55); }
  58.82353% {
    transform: translateX(-31vw) translateY(-1vh) scale(0.27); }
  64.70588% {
    transform: translateX(-10vw) translateY(27vh) scale(0.68); }
  70.58824% {
    transform: translateX(42vw) translateY(4vh) scale(0.36); }
  76.47059% {
    transform: translateX(20vw) translateY(41vh) scale(0.66); }
  82.35294% {
    transform: translateX(28vw) translateY(10vh) scale(0.67); }
  88.23529% {
    transform: translateX(36vw) translateY(-9vh) scale(0.52); }
  94.11765% {
    transform: translateX(-38vw) translateY(28vh) scale(0.39); }
  100% {
    transform: translateX(5vw) translateY(28vh) scale(0.73); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(12) {
  animation-name: move12; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(12)::before {
    animation-duration: 13s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(12)::after {
    animation-duration: 13s, 5684ms;
    animation-delay: 0ms, 4752ms; }

@keyframes move12 {
  0% {
    transform: translateX(-38vw) translateY(-17vh) scale(0.79); }
  3.57143% {
    transform: translateX(27vw) translateY(5vh) scale(0.47); }
  7.14286% {
    transform: translateX(-9vw) translateY(-8vh) scale(0.8); }
  10.71429% {
    transform: translateX(-32vw) translateY(-6vh) scale(0.66); }
  14.28571% {
    transform: translateX(-8vw) translateY(37vh) scale(0.74); }
  17.85714% {
    transform: translateX(27vw) translateY(-14vh) scale(0.7); }
  21.42857% {
    transform: translateX(-47vw) translateY(27vh) scale(0.47); }
  25% {
    transform: translateX(6vw) translateY(-42vh) scale(0.7); }
  28.57143% {
    transform: translateX(23vw) translateY(32vh) scale(0.92); }
  32.14286% {
    transform: translateX(47vw) translateY(-47vh) scale(0.32); }
  35.71429% {
    transform: translateX(-6vw) translateY(-17vh) scale(0.88); }
  39.28571% {
    transform: translateX(23vw) translateY(3vh) scale(0.31); }
  42.85714% {
    transform: translateX(25vw) translateY(-1vh) scale(0.62); }
  46.42857% {
    transform: translateX(14vw) translateY(6vh) scale(0.59); }
  50% {
    transform: translateX(-31vw) translateY(50vh) scale(0.4); }
  53.57143% {
    transform: translateX(43vw) translateY(43vh) scale(0.65); }
  57.14286% {
    transform: translateX(-23vw) translateY(-30vh) scale(0.39); }
  60.71429% {
    transform: translateX(21vw) translateY(-8vh) scale(0.83); }
  64.28571% {
    transform: translateX(14vw) translateY(35vh) scale(0.87); }
  67.85714% {
    transform: translateX(29vw) translateY(12vh) scale(0.84); }
  71.42857% {
    transform: translateX(17vw) translateY(30vh) scale(0.39); }
  75% {
    transform: translateX(-14vw) translateY(-14vh) scale(0.67); }
  78.57143% {
    transform: translateX(7vw) translateY(-33vh) scale(0.42); }
  82.14286% {
    transform: translateX(39vw) translateY(14vh) scale(0.71); }
  85.71429% {
    transform: translateX(9vw) translateY(22vh) scale(0.87); }
  89.28571% {
    transform: translateX(0vw) translateY(31vh) scale(0.65); }
  92.85714% {
    transform: translateX(-24vw) translateY(-18vh) scale(0.92); }
  96.42857% {
    transform: translateX(-40vw) translateY(-12vh) scale(0.59); }
  100% {
    transform: translateX(12vw) translateY(24vh) scale(0.7); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(13) {
  animation-name: move13; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(13)::before {
    animation-duration: 15s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(13)::after {
    animation-duration: 15s, 9142ms;
    animation-delay: 0ms, 4036ms; }

@keyframes move13 {
  0% {
    transform: translateX(-21vw) translateY(21vh) scale(0.68); }
  4.54545% {
    transform: translateX(-44vw) translateY(-11vh) scale(0.39); }
  9.09091% {
    transform: translateX(-35vw) translateY(-25vh) scale(0.64); }
  13.63636% {
    transform: translateX(-20vw) translateY(24vh) scale(0.56); }
  18.18182% {
    transform: translateX(34vw) translateY(-16vh) scale(0.54); }
  22.72727% {
    transform: translateX(45vw) translateY(38vh) scale(0.43); }
  27.27273% {
    transform: translateX(-7vw) translateY(1vh) scale(0.3); }
  31.81818% {
    transform: translateX(34vw) translateY(13vh) scale(0.71); }
  36.36364% {
    transform: translateX(2vw) translateY(15vh) scale(0.78); }
  40.90909% {
    transform: translateX(-30vw) translateY(32vh) scale(0.62); }
  45.45455% {
    transform: translateX(-18vw) translateY(-48vh) scale(0.57); }
  50% {
    transform: translateX(1vw) translateY(9vh) scale(0.59); }
  54.54545% {
    transform: translateX(16vw) translateY(40vh) scale(0.9); }
  59.09091% {
    transform: translateX(21vw) translateY(-46vh) scale(0.89); }
  63.63636% {
    transform: translateX(-31vw) translateY(0vh) scale(0.8); }
  68.18182% {
    transform: translateX(0vw) translateY(-36vh) scale(0.63); }
  72.72727% {
    transform: translateX(-26vw) translateY(-26vh) scale(0.62); }
  77.27273% {
    transform: translateX(-43vw) translateY(13vh) scale(0.84); }
  81.81818% {
    transform: translateX(-30vw) translateY(47vh) scale(0.56); }
  86.36364% {
    transform: translateX(0vw) translateY(-34vh) scale(0.69); }
  90.90909% {
    transform: translateX(36vw) translateY(-10vh) scale(0.61); }
  95.45455% {
    transform: translateX(35vw) translateY(18vh) scale(0.51); }
  100% {
    transform: translateX(-42vw) translateY(-11vh) scale(0.76); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(14) {
  animation-name: move14; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(14)::before {
    animation-duration: 9s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(14)::after {
    animation-duration: 9s, 6082ms;
    animation-delay: 0ms, 2731ms; }

@keyframes move14 {
  0% {
    transform: translateX(13vw) translateY(-31vh) scale(0.68); }
  4% {
    transform: translateX(48vw) translateY(-5vh) scale(0.77); }
  8% {
    transform: translateX(20vw) translateY(17vh) scale(0.83); }
  12% {
    transform: translateX(-13vw) translateY(-42vh) scale(0.26); }
  16% {
    transform: translateX(-48vw) translateY(-45vh) scale(0.9); }
  20% {
    transform: translateX(31vw) translateY(-43vh) scale(0.84); }
  24% {
    transform: translateX(32vw) translateY(25vh) scale(0.89); }
  28% {
    transform: translateX(11vw) translateY(-31vh) scale(0.38); }
  32% {
    transform: translateX(-46vw) translateY(44vh) scale(0.7); }
  36% {
    transform: translateX(-38vw) translateY(38vh) scale(0.57); }
  40% {
    transform: translateX(-18vw) translateY(-23vh) scale(0.31); }
  44% {
    transform: translateX(35vw) translateY(-19vh) scale(0.4); }
  48% {
    transform: translateX(38vw) translateY(-14vh) scale(0.65); }
  52% {
    transform: translateX(-28vw) translateY(-10vh) scale(0.54); }
  56% {
    transform: translateX(-9vw) translateY(-5vh) scale(0.56); }
  60% {
    transform: translateX(30vw) translateY(47vh) scale(0.98); }
  64% {
    transform: translateX(8vw) translateY(43vh) scale(0.39); }
  68% {
    transform: translateX(33vw) translateY(30vh) scale(0.27); }
  72% {
    transform: translateX(28vw) translateY(6vh) scale(0.93); }
  76% {
    transform: translateX(-23vw) translateY(-33vh) scale(0.74); }
  80% {
    transform: translateX(-43vw) translateY(-1vh) scale(0.75); }
  84% {
    transform: translateX(-42vw) translateY(-13vh) scale(0.54); }
  88% {
    transform: translateX(13vw) translateY(16vh) scale(0.89); }
  92% {
    transform: translateX(-3vw) translateY(-36vh) scale(0.98); }
  96% {
    transform: translateX(44vw) translateY(-20vh) scale(0.93); }
  100% {
    transform: translateX(35vw) translateY(-46vh) scale(0.43); } }

/* line 48, playground/static/playground/css/styles.sass */
.firefly:nth-child(15) {
  animation-name: move15; }
  /* line 51, playground/static/playground/css/styles.sass */
  .firefly:nth-child(15)::before {
    animation-duration: 11s; }
  /* line 54, playground/static/playground/css/styles.sass */
  .firefly:nth-child(15)::after {
    animation-duration: 11s, 8927ms;
    animation-delay: 0ms, 1667ms; }

@keyframes move15 {
  0% {
    transform: translateX(-7vw) translateY(45vh) scale(0.42); }
  4.7619% {
    transform: translateX(-38vw) translateY(47vh) scale(0.94); }
  9.52381% {
    transform: translateX(-25vw) translateY(4vh) scale(0.34); }
  14.28571% {
    transform: translateX(13vw) translateY(-4vh) scale(0.32); }
  19.04762% {
    transform: translateX(14vw) translateY(-16vh) scale(0.63); }
  23.80952% {
    transform: translateX(-29vw) translateY(-4vh) scale(0.41); }
  28.57143% {
    transform: translateX(-31vw) translateY(3vh) scale(0.3); }
  33.33333% {
    transform: translateX(-11vw) translateY(49vh) scale(0.81); }
  38.09524% {
    transform: translateX(48vw) translateY(1vh) scale(0.32); }
  42.85714% {
    transform: translateX(5vw) translateY(-5vh) scale(0.86); }
  47.61905% {
    transform: translateX(43vw) translateY(23vh) scale(0.56); }
  52.38095% {
    transform: translateX(-49vw) translateY(-36vh) scale(0.76); }
  57.14286% {
    transform: translateX(-33vw) translateY(-5vh) scale(0.45); }
  61.90476% {
    transform: translateX(-22vw) translateY(50vh) scale(0.66); }
  66.66667% {
    transform: translateX(1vw) translateY(27vh) scale(0.68); }
  71.42857% {
    transform: translateX(11vw) translateY(38vh) scale(0.89); }
  76.19048% {
    transform: translateX(-40vw) translateY(35vh) scale(0.48); }
  80.95238% {
    transform: translateX(4vw) translateY(-9vh) scale(0.27); }
  85.71429% {
    transform: translateX(-12vw) translateY(11vh) scale(0.62); }
  90.47619% {
    transform: translateX(-10vw) translateY(-35vh) scale(0.57); }
  95.2381% {
    transform: translateX(-45vw) translateY(25vh) scale(0.28); }
  100% {
    transform: translateX(-37vw) translateY(-41vh) scale(0.76); } }

@keyframes drift {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow; }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow; } }
